
<div class="container">

  <table class="table table-bordered" style="width:300px">
   <tr>
    <td>Username</td>
    <td><input type="text" name="" id="" [(ngModel)]="uname" class="form-control"></td>
   </tr>
   <tr>
    <td>Password</td>
    <td><input type="password" name="" id="" [(ngModel)]="pwd" class="form-control"></td>
   </tr>
   <tr>
    <td colspan="2">
      <button on-click="Validate()">Validate</button>
    </td>
   </tr>
   <tr>
    <td colspan="2">
      <span class="text-warn">{{msg}}</span>
    </td>
   </tr>
  </table>

</div>

