header
{
    border: 1px solid gray;
    width:auto;
    height:auto;
    margin:10px;
    padding:10px;
    background-color:white;
text-align:center;
}
header h1
{
    color:black;
}
nav{
    border: 1px solid gray;
    width:auto;
    height:50px;
    margin:10px;
    padding:10px;

background-color:blue;
}
nav ul li{
display:inline;
margin:20px;
padding:0px;

}
nav,li{
padding:0px;
padding-top:20px;
}
a
{
color:maroon;
text-decoration:none;
color:white;
}
#section1
{
border: 1px solid gray;
    width:auto;
    height:450px;
    margin:10px;
    padding:10px;
background-color:white;
}

footer
{
border: 1px solid gray;
    width:auto;
    height:40px;
    margin:10px;
    padding:10px;
background-color:gray;
text-align:center;
}
